body {
    box-sizing: border-box;
}

.score {
    border: 2px solid black;
    margin: auto 33%;
    padding: 1rem;
    text-align: center;
}

.prevCard {
    display: flex;
    flex-direction: column;
    position: relative;
    border: 2px solid black;
    text-align: center;
    padding: .5rem;
    transform: scale(.5);
    flex-shrink: 1;
}

.currentCard {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    text-align: center;
    padding: .5rem;
}

.faceCardsContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 20%;
}

.faceCardsContainer *{
    margin: 1rem;
}